log_filepath = "./output.log"
unl_file_directory = "./UNL/"
service_account_key_filepath = "./service_account_key.json"

[[listing]]
id = ""
name = ""
address = ""
google_spreadsheet_id = ""
google_sheet_name = ""
a_record = ""

[[listing]]
id = ""
name = ""
address = ""
google_spreadsheet_id = ""
google_sheet_name = ""
a_record = ""

[[listing]]
id = ""
name = ""
address = ""
google_spreadsheet_id = ""
google_sheet_name = ""
a_record = ""

[AWS]
region = ""
stage = ""
api_id = ""
access_key = ""
secret_key = ""

[SES]
from = ""
to = ["", ""]